Email validation: single char TLD. 

Should emails with a single char TLD be considered valid ? We have an external integration that blows up when a single char TLD is provided. 

According to [RFC 1123 Section 2.1](https://tools.ietf.org/html/rfc1123#section-2.1). A single _character_ is indeed a valid domain name (although AFAIK none have actually been approved). _*However*_ RFC-3696 did prevent a single number from being a valid domain name since a domain name cannot be all numbers.